node-red/AeroFire.json
[
    {
        "id": "9968607a20fdc622",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5fa2295a24caeac9",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#f570ea",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#f570ea",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#f570ea",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#fab8f4",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#f570ea",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6ce2b8a87d8c90a7",
        "type": "ui_tab",
        "name": "Thông số",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "af10641eff56d860",
        "type": "ui_group",
        "name": "",
        "tab": "6ce2b8a87d8c90a7",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b64c79f5eb19485",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "aa94c38b4c1363a8",
        "type": "ui_group",
        "name": "",
        "tab": "6ce2b8a87d8c90a7",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b2d7c486f563fea8",
        "type": "mqtt out",
        "z": "9968607a20fdc622",
        "name": "",
        "topic": "23CLC09N12/Led",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1b64c79f5eb19485",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "b35a06eddc276d05",
        "type": "ui_switch",
        "z": "9968607a20fdc622",
        "name": "",
        "label": "Phát tín hiệu báo cháy",
        "tooltip": "",
        "group": "af10641eff56d860",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "b2d7c486f563fea8",
                "7213e219a4990393"
            ]
        ]
    },
    {
        "id": "341562720c8aa81d",
        "type": "mqtt in",
        "z": "9968607a20fdc622",
        "name": "",
        "topic": "23CLC09N12/temperature/c",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1b64c79f5eb19485",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 340,
        "wires": [
            [
                "a2736284d92dce44"
            ]
        ]
    },
    {
        "id": "a2736284d92dce44",
        "type": "ui_gauge",
        "z": "9968607a20fdc622",
        "name": "",
        "group": "af10641eff56d860",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Nhiệt độ",
        "label": "Đơn vị: ºC",
        "format": "{{msg.payload.temperature}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 340,
        "wires": []
    },
    {
        "id": "a97c5ffd810859be",
        "type": "mqtt in",
        "z": "9968607a20fdc622",
        "name": "",
        "topic": "23CLC09N12/MQ2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1b64c79f5eb19485",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 580,
        "wires": [
            [
                "59e006df4a554904"
            ]
        ]
    },
    {
        "id": "59e006df4a554904",
        "type": "ui_gauge",
        "z": "9968607a20fdc622",
        "name": "",
        "group": "af10641eff56d860",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "MQ2",
        "label": "Không khí ",
        "format": "{{msg.payload.mq2}}",
        "min": 0,
        "max": "3.3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 580,
        "wires": []
    },
    {
        "id": "b50048a966a46e22",
        "type": "mqtt in",
        "z": "9968607a20fdc622",
        "name": "",
        "topic": "23CLC09N12/humidity/%",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1b64c79f5eb19485",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 400,
        "wires": [
            [
                "c30453bca53382dd"
            ]
        ]
    },
    {
        "id": "c30453bca53382dd",
        "type": "ui_gauge",
        "z": "9968607a20fdc622",
        "name": "",
        "group": "aa94c38b4c1363a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Độ ẩm",
        "label": "Đơn vị: %",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "7213e219a4990393",
        "type": "mqtt out",
        "z": "9968607a20fdc622",
        "name": "",
        "topic": "23CLC09N12/buzzer",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1b64c79f5eb19485",
        "x": 680,
        "y": 260,
        "wires": []
    }
]